.header {
	position: relative;

	.header_content {
		margin: 90px 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		.text {
			text-align: center;

			h3 {
				font-weight: 700;
				font-size: 20px;
				line-height: 30px;
				color: #8e24aa;
			}

			h1 {
				margin-top: 20px;
				font-weight: 600;
				font-size: 48px;
				line-height: 60px;
				text-align: center;
				letter-spacing: -0.04em;
				color: #172635;
			}
		}
		.header_plus_img {
			position: absolute;
			right: -15px;
		}
	}
}

@include desktop-screen {
	.header {
		.header_content {
			margin: 80px 0;

			.text {
				h3 {
					font-size: 20px;
					line-height: 30px;
				}

				h1 {
					margin-top: 20px;
					font-size: 48px;
					line-height: 60px;
				}
			}
			.header_plus_img {
				position: absolute;
				right: -15px;
			}
		}
	}
}

@include laptop-screen {
	.header {
		.header_content {
			margin: 70px 0;

			.text {
				h3 {
					font-size: 20px;
					line-height: 30px;
				}

				h1 {
					margin-top: 20px;
					font-size: 48px;
					line-height: 60px;
				}
			}
			.header_plus_img {
				position: absolute;
				right: -15px;
			}
		}
	}
}
@include tablet-screen {
	.header {
		.header_content {
			margin: 50px 0;

			.text {
				h3 {
					font-size: 18px;
					line-height: 27px;
				}

				h1 {
					margin-top: 20px;
					font-size: 40px;
					line-height: 55px;
				}
			}
			.header_plus_img {
				position: absolute;
				right: -20px;
				z-index: -1;
			}
		}
	}
}

@include desktop-screen {
}

@include laptop-screen {
}
@include tablet-screen {
}
